/* Css Reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Custom Variable */
:root{
  --primary-color:black;
  --secondary-color:white;
  --positive-slanted:30deg;
   --negative-slanted:-30deg;
   --outer-glow:3px 3px 8px 3px cyan;
}
body{
  background-color:var(--primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root{
  height:100vh;
  padding:1em;
}
/* Navigation styles */
nav{
   height:70px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  box-shadow:var(--outer-glow);
  border-radius:35px;
}

/* Brand logo Styles */
.nav-logo{
  width:5%;
  height:85%;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:100%;
  background-color:var(--secondary-color);
  color:var(--primary-color);
  font-size: 1.6em;
  font-weight: bold;
  /* border:5px solid red; */
}




/* nav-links style */
.nav-lists{
  width: 80%;
  height:100%;
    /* border:5px solid red; */
}
.nav-lists ul{
  height:100%;
   display:flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
  list-style:none;
  font-size: 1.3rem;
  font-weight: bold;
  

}
.nav-lists ul li{
     padding: 1em; 
    transition: all 1s;
}
.nav-lists ul li a{
  color:var(--secondary-color);
  text-decoration:none;
}
.nav-lists ul>li:hover{
  background-color:var(--secondary-color);
  transform: skewX(var(--negative-slanted));
     transition: all 1s;
}

/* transform skewX is not working for inline element */
.nav-lists ul>li:hover a{
  display: block;
    color:black;
    transform: skewX(var(--positive-slanted));
}
.nav-loginbtn{
  width:5%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.nav-loginbtn > button{
   font-weight:bolder;
   text-align: center;
   border:none;
   border-radius:20px;
   padding:0.7rem 1.5rem 0.7rem 1.5rem;
}
